<!DOCTYPE html>
<html>
<head>
	<title>Edit <%=event.name%></title>
	<script type="text/javascript" src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/new.css">
	<style>
		#personDiv {
			position: relative;
		}
		#addPerson {
			position: absolute;
			bottom: 0;
		}
		body{
			height: auto;
		}
	</style>
</head>
<body>

	<header>
		<nav>
				<a href="/user">Cancel</a>
		</nav>
	</header>

	<main>
		<h2>Edit <%=event.name%></h2>
		<form method='POST' action='/events/<%=event.id%>?_method=PUT'>
			<select name='calendarId'>
				<% for(let i = 0; i < user.calendars.length; i++) { %>
					<option name='calendarId' value="<%= user.calendars[i].id%>"
						<%if(event.calendarId === user.calendars[i].id) {%>
						selected
						<%}%>
						><%= user.calendars[i].name %></option>
				<% } %>	
			</select><br><br>
			Appointment Name:<br>
			<input type="text" name="name" value="<%=event.name%>" autofocus required><br><br>
			Start Date:<br>
			<input type="date" name="startDate" value="<%=event.startDate%>"><br>
			Start Time: <br>
			<input type="time" name="startTime" value='<%=event.startTime%>'><br><br>
			All Day <input type="checkbox" name="allDay" id='allDay' 
				<%if(event.allDay === true) {%>
					checked
				<% } %>
				><br><br>	
			<h3 class='end'>End Date:</h3>
			<input type="date" name="endDate" value='<%=event.endDate%>' class='end'><br>
			<h3 class="end">End Time: </h3>
			<input type="time" name="endTime" value='<%=event.endTime%>' class='end'><br><br>
			Location:<br>
			<input type="text" name="location" value="<%=event.location%>"><br><br>
			People:<br>
			<div id='personDiv'>
				<input type="text" name="person[]" value="<%=event.people[0]%>"> <button id='addPerson'>+</button><br>
				<% for (let i = 1; i < event.people.length; i++) { -%>
					<input type="text" name="person[]" value="<%=event.people[i]%>"><br>
				<% } -%>
			</div><br>
			
			<button>Save</button>
		</form>
	

	</main>
	<script type="text/javascript" src='/js/event.js'></script>
</body>
</html>