<!DOCTYPE html>
<html>
<head>
	<title>Edit <%=event.name%></title>
</head>
<body>

	<header>
		<nav>
				<a href="/user">Back to Calendar</a>
		</nav>
	</header>

	<main>
		<h1><%=event.name%></h1><br>

		<% if (event.startDate === event.endDate || event.allDay === true) { %>
			<h4><%=event.startDate%></h4>	
		<% } else { %>
			<h4><%=event.startDate%> - <%=event.endDate%></h4>
		<% } %>

		<small><%=event.startTime%> - <%=event.endTime%></small><br>
		<h3>Location</h3>
		<%=event.location%>


		<br><br><br>

		<h3>People</h3>
		<ul>
		<% for(let i = 0; i < event.people.length; i++) { %>
			<li><%=event.people[i]%></li>
		<% } %>
		</ul>



	</main>


</body>
</html>