<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style>
	.calendarDiv {
		display: inline-block;
		width: 13%;
		margin: 0;
		padding: 0px 0 70px 0;
		border: 1px solid gray;
		background-color: lightblue;

	}
	.event {
		display: inline-block;
		width: 90%;
		margin: 0;
		padding: 0;
		border: 1px solid orange;
		background-color: red;
	}
	.dayName {
		padding: 5px 0 20px 0;
		text-align: center;
		background-color: lightgray;
	}
	h4{
		margin: 5px 0 0 5%;
	}
	small {
		margin: 2px 0 0 5%;
	}
	h3, h2, h1{
		text-align: center;
	}
	#container {
		margin: 0 auto;
		padding: 0 0 0 5%;
	}
</style>
<body>
  <header>
    <ul>
      <li><a href="/events/new">New Event</a></li>
      <li><a href="/calendar/new">New Calendar</a></li>
      <li><a href="/calendar">Edit Calendars</a></li>
      <li><a href="/task/new">New Task</a></li>
      <li><a href="/task/archive">Archived Task</a></li>
      <li><a href="/user/<%=user.id%>/preferences">Edit Preferences</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </header>

  <h1><%=user.username%>'s Calendar</h1>

  <div class="month">      
    <h2>&#10094;&#10094;&nbsp;&nbsp;&nbsp;<%=year%>&nbsp;&nbsp;&nbsp;&#10095;&#10095;</h2>
 	<h3>&#10094;&#10094;&nbsp;&nbsp;&nbsp;<%=monthName%>&nbsp;&nbsp;&nbsp;&#10095;&#10095;</h3>

</div>

<div id='container'>

<%for(let i = 0; i < 7; i++) { %>
	<div class="calendarDiv dayName"><h4><%=dayNames[i]%></h4></div>
<% } %>

<%for(let i = 0; i < startDate; i++) {%>
	<a href="#">
		<div class='calendarDiv'>&nbsp;</div>
	</a>
<% } %>

<% for (let i = 1; i <= monthDays; i++) { %>
	<a href="/events/new">
		<div class='calendarDiv'>
			<small><%=i%></small><br>
			<% for (let j = 0; j < events.length; j++) { -%>
				<% if(events[j].startDate.slice(8, 10) == i) {%>
					<a href="/events/<%=events[j].id%>">
						<div class='event'><%=events[j].name%></div><br>
					</a>
				<% } %>
			<% } -%>
		</div>
	</a>
<% } %>
</div>

</body>
</html>