<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style>
	.calendarDiv {
		display: inline-block;
		width: 11%;
		margin: 10px;
		padding: 5px 0 70px 0;

	}
</style>
<body>
  <header>
    <ul>
      <li><a href="/events/new">New Event</a></li>
      <li><a href="/calendar/new">New Calendar</a></li>
      <li><a href="/user/<%=user.id%>/preferences">Edit Preferences</a></li>
    </ul>
  </header>

  <h1><%=user.username%>'s Calendar</h1>

  <div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      <%=monthName%><br>
      <span><%=year%></span>
    </li>
  </ul>
</div>
<%for(let i = 0; i < startDate; i++) {%>
	<a href="#">
		<div class='calendarDiv'>blanks</div>
	</a>
<% } %>

<% for (let i = 1; i <= monthDays; i++) { %>
	<a href="#">
		<div class='calendarDiv'><%=i%></div>
	</a>
<% } %>

</body>
</html>