<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style>

	body{
		background-image: linear-gradient(to right bottom, #343537, #555658, #78797c, #9c9fa1, #c3c6c8);
    <%if(user.openTasks.length > 3) {%>
      height: auto;
      <% } else { %>
        height: 100vh;
        <% } %>
	}
  
  #taskFlex {
    display: flex;
    justify-content: flex-end;
  }
  
  .flex-container {
    text-align: center;
    position: static;

  }

  .month {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-self: center;
  }

  #taskList {
    padding: 20px 50px;
  }


  #taskList < form < h2 {
    display: inline-block;
    border: 1px rgba(229, 71, 60, 0.5);
    width: 20%;
    margin: 0;
}
	.calendarDiv {
		display: inline-block;
		width: 13%;
		margin: 0;
		padding: 0px 0 70px 0;
		border: 1px solid gray;
		background-color: black;
    opacity: 0.5;
    max-height: 90.87px;
    overflow: hidden;

	}

  .calendarDiv:hover {
    background-color: rgb(138, 255, 61, 0.87);
  }
	a {
    color: red;
	}
	.event {
		display: inline-block;
		width: 90%;
		margin: 0 0 0 5%;
		padding: 0;
		border: 1px solid black;
		background-color: red;
		border-radius: 10%;
	}
	.dayName {
		padding: 5px 0 20px 0;
		text-align: center;
		background-color: lightgray;
	}

  .logoutTab {
    text-align: right;
  }

	h4{
		margin: 5px 0 0 5%;
	}
	small {
		margin: 2px 0 0 5%;
	}
	h3, h2, h1{
		text-align: center;
	}
	#container {
		margin: 0 auto;
		padding: 0 0 0 5%;
	}

</style>
<body>
  <header>
      <a href="/events/new">New Event</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a href="/calendar/new">New Calendar</a></li>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <a href="/calendar">Edit Calendars</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/task/new">New Task</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a href="/task/archive">Archived Task</a></li>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <!-- <a href="/user/<%=user.id%>/preferences">Edit Preferences</a></li>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <a href="/user">Today's Date</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <div class='logoutTab'> 
      <a href="/auth/logout">Logout</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>

  </header>

<div class="flex-container"> 

  <div class="month">      
    <h2><a href="/user/<%=user.id%>/<%=prevYear%>/<%=monthName%>">&#10094;&#10094;</a>&nbsp;&nbsp;&nbsp;<%=year%>&nbsp;&nbsp;&nbsp;
    	<a href="/user/<%=user.id%>/<%=nextYear%>/<%=monthName%>">&#10095;&#10095;</a></h2>
 	<h3><a href="/user/<%=user.id%>/<%=prevMonthYear%>/<%=prevMonthName%>">&#10094;&#10094;</a>&nbsp;&nbsp;&nbsp;<%=monthName%>&nbsp;&nbsp;&nbsp;
 		<a href="/user/<%=user.id%>/<%=nextMonthYear%>/<%=nextMonthName%>">&#10095;&#10095;</a></h3>
  </div>

  
</div>
<div id='taskFlex'>
  <div id="taskList">
    <% for (let i = 0; i < user.openTasks.length; i++) { %>
      <form method="POST" action="/task/<%= user.openTasks[i].id%>?_method=DELETE">
        <h2><a href="#" onclick="event.target.parentNode.parentNode.submit()"><%= user.openTasks[i].name %></a></h2>
        <!-- <h2><%= user.openTasks[i].color%></h2> -->
      </form>
    <% } %>
  </div>
</div>

<div id='container'>

<%for(let i = 0; i < 7; i++) { %>
	<div class="calendarDiv dayName"><h4><%=dayNames[i]%></h4></div>
<% } %>

<%for(let i = 0; i < startDate; i++) {%>
	<a href="#">
		<div class='calendarDiv'>&nbsp;</div>
	</a>
<% } %>

<% for (let i = 1; i <= monthDays; i++) { %>
	<a href="/events/new/<%=year%>/<%=monthName%>/<%=i%>">
		<div class='calendarDiv'>
			<small><%=i%></small><br>
			<% for (let j = 0; j < events.length; j++) { -%>
				<% if(events[j].startDate.slice(8, 10) == i) {%>
					<a href="/events/<%=events[j].id%>">
						<div style='background-color: <%=events[j].calendarColor%>' class='event '><%=events[j].name%></div><br>
					</a>
				<% } %>
			<% } -%>
		</div>
	</a>
<% } %>
</div>

</body>
</html>