<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
  <script type="text/javascript" src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
  <header>
      <a href="/events/new">New Event</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a href="/calendar/new">New Calendar</a></li>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <a href="/calendar">Edit Calendars</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/task/new">New Task</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a href="/task/archive">Archived Task</a></li>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <!-- <a href="/user/<%=user.id%>/preferences">Edit Preferences</a></li>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <a href="/user">Today's Date</a></li>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class='logoutTab'>
      <a href="/auth/logout">Logout</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>

  </header>

<div class="flex-container">

  <div class="month">
    <h2><a href="/user/<%=user.id%>/<%=prevYear%>/<%=monthName%>">&#10094;&#10094;</a>&nbsp;&nbsp;&nbsp;<%=year%>&nbsp;&nbsp;&nbsp;
    	<a href="/user/<%=user.id%>/<%=nextYear%>/<%=monthName%>">&#10095;&#10095;</a></h2>
 	<h3><a href="/user/<%=user.id%>/<%=prevMonthYear%>/<%=prevMonthName%>">&#10094;&#10094;</a>&nbsp;&nbsp;&nbsp;<%=monthName%>&nbsp;&nbsp;&nbsp;
 		<a href="/user/<%=user.id%>/<%=nextMonthYear%>/<%=nextMonthName%>">&#10095;&#10095;</a></h3>
  </div>


</div>
<div id='taskFlex'>
  <div id="taskList">
    <% for (let i = 0; i < user.openTasks.length; i++) { %>
      <form method="POST" action="/task/<%= user.openTasks[i].id%>?_method=DELETE">
        <h2 class='tasks'><a href="#" class='taskTag' onclick="event.target.parentNode.parentNode.submit()"><%= user.openTasks[i].name %></a></h2>
        <!-- <h2><%= user.openTasks[i].color%></h2> -->
      </form>
    <% } %>
  </div>
</div>

<div id='container'>

<%for(let i = 0; i < 7; i++) { %>
	<div class="calendarDiv dayName"><h4><%=dayNames[i]%></h4></div>
<% } %>

<%for(let i = 0; i < startDate; i++) {%>
	<a href="#">
		<div class='calendarDiv'>&nbsp;</div>
	</a>
<% } %>

<% for (let i = 1; i <= monthDays; i++) { %>
	<a href="/events/new/<%=year%>/<%=monthName%>/<%=i%>">
		<div class='calendarDiv'>
			<small><%=i%></small><br>
			<% for (let j = 0; j < events.length; j++) { -%>
				<% if(events[j].startDate.slice(8, 10) == i) {%>
					<a class='eventTag' href="/events/<%=events[j].id%>">
						<div style='background-color: <%=events[j].calendarColor%>' class='event '><%=events[j].name%></div><br>
					</a>
				<% } %>
			<% } -%>
		</div>
	</a>
<% } %>
</div>

</body>
</html>
